<div class="header">
    <div class="header-bg"></div>
    <div class="gnb">
        <!-- CI -->
        <div class="ci">
            <span class="ci-text">통합대시보드</span>
        </div>
        <!-- Menu -->
        <div class="menu"></div>
        <!-- Info -->
        <div class="info">
            <div class="user-name">
                <div class="user-icon">
                    <img src="./assets/user.svg" alt="user">
                </div>
                <span class="user-name-text">
                    <span class="name"></span>
                    <span class="suffix">님</span>
                </span>
            </div>
            <div class="info-group">
                <div class="day">
                    <div class="date-col">
                        <p class="date-text"></p>
                        <p class="day-text"></p>
                    </div>
                    <span class="time-text"></span>
                </div>
                <div class="btn-logout">
                    <img src="./assets/logout.svg" alt="logout">
                </div>
            </div>
        </div>
    </div>
</div>
