<div class="frame-header">
    <!-- GNB Navigation -->
    <div class="gnb"></div>

    <!-- Time & Actions -->
    <div class="time-section">
        <div class="date-display">
            <span class="date-text"></span>
            <span class="time-text"></span>
        </div>
        <div class="header-action-buttons">
            <!-- Logout -->
            <div class="action-btn" data-action="logout">
                <div class="icon-wrapper">
                    <img class="icon-img logout-icon" src="./assets/34293ac75e74381de2c0ae9316d22d181deb7348.svg" alt="logout">
                </div>
            </div>
            <!-- User -->
            <div class="action-btn btn-user" data-action="user">
                <div class="icon-wrapper">
                    <img class="icon-img" src="./assets/64a1831eed80a8ed563feb5105ee8f73b192cd1b.svg" alt="user">
                </div>
            </div>
            <!-- Settings -->
            <div class="action-btn" data-action="settings">
                <div class="icon-wrapper">
                    <img class="icon-img" src="./assets/ea7e6e5b1031c2d7eda89cb7f3fef70d065bf28b.svg" alt="settings">
                </div>
            </div>
        </div>
    </div>
</div>
