<div class="contents-battery-group">
    <div class="contents-title">
        <div class="contents-title-txt">
            <span class="dot-indicator"></span>
            <span class="contents-title-text">-</span>
        </div>
        <div class="union-dots"></div>
    </div>
    <div class="section section--battery">
        <div class="battery-block">
            <div class="battery-header">
                <div class="battery-header-item">
                    <span class="battery-dot"></span>
                    <span class="battery-group-name">-</span>
                </div>
                <div class="battery-header-item">
                    <span class="battery-datetime">-</span>
                </div>
            </div>
            <div class="battery-body">
                <div class="donut-chart">
                    <div class="donut-image"></div>
                    <div class="donut-value">
                        <span class="donut-number">-</span>
                        <span class="donut-unit">-</span>
                    </div>
                </div>
                <div class="battery-legend"></div>
            </div>
        </div>
        <div class="section-inset-shadow"></div>
    </div>
</div>
