<div class="status-box">

    <!-- Left: PUE Gauge -->
    <div class="pue-section">
        <div class="pue-title">
            <img src="./assets/icon-pue.svg" class="icon-pue" alt="">
            <span>-</span>
        </div>
        <div class="gauge-wrapper">
            <div class="gauge-bg">
                <img src="./assets/gauge-bg.svg" alt="">
            </div>
            <div class="gauge-value">
                <img src="./assets/gauge-value.svg" alt="">
            </div>
            <div class="gauge-num"><span>-</span></div>
            <div class="gauge-label-left"><span>-</span></div>
            <div class="gauge-label-right"><span>-</span></div>
        </div>
    </div>

    <!-- Right: Info Grid (2x2) -->
    <div class="info-grid"></div>

</div>
