<div class="header">
  <!-- Left: Title -->
  <div class="header-left">
    <div class="header-title"></div>
  </div>
  <!-- Center: Navigation -->
  <div class="nav"></div>
  <!-- Right: Icon Buttons -->
  <div class="header-right">
    <div class="icon-btn">
      <div class="icon-btn-img">
        <img src="./assets/icon-search.svg" alt="">
      </div>
    </div>
    <div class="icon-btn icon-btn--bell">
      <div class="icon-btn-img">
        <img src="./assets/icon-bell.svg" alt="">
      </div>
      <div class="notification-dot"></div>
    </div>
    <div class="icon-btn">
      <div class="icon-btn-img">
        <img src="./assets/icon-settings.svg" alt="">
      </div>
    </div>
    <div class="icon-btn">
      <div class="icon-btn-img">
        <img src="./assets/icon-user.svg" alt="">
      </div>
    </div>
  </div>
</div>
