/* Page Container Styles (3D) */
/* 페이지 크기: 1920 x 1080 (Master 아래에 겹쳐짐) */
#page-container {
    position: absolute;
    inset: 0;
    width: 1920px;
    height: 1080px;
    padding-top: 60px;
    padding-left: 240px;
    overflow: hidden;
}

/* 3D 뷰포트는 남은 영역 전체 사용 */
/* 콘텐츠 영역: 1680 x 1020 (Header 60px, Sidebar 240px 제외) */
