<div class="contents-system-status">
    <div class="contents-title">
        <div class="contents-title-txt">
            <span class="dot-indicator"></span>
            <span class="contents-title-text">-</span>
        </div>
        <div class="union-dots"></div>
    </div>
    <div class="section-row">
        <div class="section section--gauge-box">
            <span class="gauge-label">-</span>
            <div class="gauge-chart">
                <div class="gauge-image"></div>
                <div class="gauge-value">
                    <span class="gauge-number">-</span>
                    <span class="gauge-unit">-</span>
                </div>
            </div>
            <div class="section-inset-shadow"></div>
        </div>
        <div class="section section--list-box">
            <div class="system-list"></div>
            <div class="section-inset-shadow"></div>
        </div>
    </div>
</div>
