<div class="popup-wrapper" style="display: none;">
    <div class="panel">
        <img src="./assets/38022d8532f27cac47dc8ab231f185669024ef66.svg" alt="">
    </div>
    <div class="btn-bar">
        <div class="btn-close">
            <img src="./assets/2b71b92f89860d8681ac5d344dafc1b1b34b62b8.svg" alt="close">
        </div>
    </div>
    <div class="title-tab">
        <div class="title-icon">
            <img src="./assets/980c6087a70a3503513e2245419774657a2f951a.svg" alt="">
        </div>
        <span class="title-text"></span>
    </div>
    <div class="contents">
        <table class="popup-table">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
