<div class="left-panel">
  <!-- Search Bar -->
  <div class="glass-card search-bar">
    <div class="icon">
      <img src="./assets/icon-search.svg" alt="">
    </div>
    <p class="search-bar-text">설비 및 자산 검색</p>
  </div>
  <!-- 위치 선택 Section -->
  <div class="glass-card section-card">
    <div class="section-title">
      <div class="icon">
        <img src="./assets/icon-location.svg" alt="">
      </div>
      <p class="section-title-text">위치 선택</p>
    </div>
    <div class="tree-container">
      <div class="tree-list location-tree"></div>
    </div>
  </div>
  <!-- 화물 검색 Section -->
  <div class="glass-card section-card section-card--cargo">
    <div class="section-title">
      <div class="icon">
        <img src="./assets/icon-cargo.svg" alt="">
      </div>
      <p class="section-title-text">화물 검색</p>
    </div>
    <div class="cargo-tree-container">
      <div class="cargo-search">
        <div class="icon">
          <img src="./assets/icon-search-sm.svg" alt="">
        </div>
        <input type="text" class="cargo-search-input" placeholder="화물 검색">
      </div>
      <div class="cargo-tree-list"></div>
    </div>
  </div>
</div>
