<div class="box">
    <div class="dummy">
        <!-- List 1: 시스템 #01 -->
        <div class="list">
            <div class="group">
                <div class="symbol">
                    <img class="symbol-icon" src="assets/icon-system-01.svg" alt="">
                </div>
                <span class="system-name">시스템 #01</span>
            </div>
            <div class="item-value">
                <span class="value-number">--</span>
                <span class="value-unit">%</span>
            </div>
        </div>

        <!-- List 2: 시스템 #02 -->
        <div class="list">
            <div class="group">
                <div class="symbol">
                    <img class="symbol-icon" src="assets/icon-system-02.svg" alt="">
                </div>
                <span class="system-name">시스템 #02</span>
            </div>
            <span class="status-normal">--</span>
        </div>

        <!-- List 3: 시스템 #03 -->
        <div class="list">
            <div class="group">
                <div class="symbol">
                    <img class="symbol-icon" src="assets/icon-system-03.svg" alt="">
                </div>
                <span class="system-name">시스템 #03</span>
            </div>
            <div class="status-abnormal">
                <div class="warning-icon">
                    <img src="assets/icon-warning.svg" alt="">
                </div>
                <span>--</span>
            </div>
        </div>
    </div>

    <!-- Inset Shadow -->
    <div class="inset-shadow"></div>
</div>
