<div class="block">
    <div class="group">
        <!-- Header -->
        <div class="header">
            <div class="title">
                <div class="title-icon">
                    <img src="./assets/a3c2ab6590a36270718937ec11e700f8f2584c7e.svg" alt="icon">
                </div>
                <span class="title-text">Throughput</span>
            </div>
            <div class="action">
                <div class="btn active" data-tab="tab01">
                    <span class="btn-text">tab01</span>
                </div>
                <div class="btn" data-tab="tab02">
                    <span class="btn-text">tab02</span>
                </div>
                <div class="btn" data-tab="tab03">
                    <span class="btn-text">tab03</span>
                </div>
                <div class="btn" data-tab="tab04">
                    <span class="btn-text">tab04</span>
                </div>
            </div>
        </div>
        <!-- Chart -->
        <div class="chart-container"></div>
    </div>
    <div class="block-inner-shadow"></div>
</div>
