<div class="equipment-status">
  <!-- Title -->
  <div class="eq-title">
    <div class="eq-title-inner">
      <div class="eq-title-icon">
        <img src="./assets/icon-title.svg" alt="">
      </div>
      <p class="eq-title-text">설비현황</p>
    </div>
  </div>
  <!-- Contents (ECharts) -->
  <div class="eq-contents">
    <div class="eq-chart" id="eq-gauge-total"></div>
    <div class="eq-chart" id="eq-gauge-operating"></div>
    <div class="eq-chart" id="eq-gauge-broken"></div>
  </div>
</div>
