<div class="nav-bar">
  <!-- Left: Spacer (로고 영역 - 레이아웃 유지) -->
  <div class="nav-bar-left"></div>

  <!-- Center: Search Input -->
  <div class="search-wrapper">
    <img class="search-icon" src="./assets/search-icon.svg" alt="" />
    <input type="text" class="search-input" placeholder="위치 검색..." />
  </div>

  <!-- Right: Navigation Buttons -->
  <div class="nav-buttons">
    <!-- Icon Buttons -->
    <div class="icon-buttons">
      <img class="icon-btn" data-action="home" src="./assets/btn-home.svg" alt="Home" />
      <img class="icon-btn" data-action="cart" src="./assets/btn-cart.svg" alt="Cart" />
      <img class="icon-btn" data-action="notification" src="./assets/btn-notification.svg" alt="Notification" />
    </div>
    <!-- Text Buttons -->
    <div class="text-buttons">
      <button class="btn-advertise" data-action="advertise">광고하기</button>
      <button class="btn-mypage" data-action="mypage">마이페이지</button>
    </div>
  </div>
</div>
