<div class="space-tree">
    <div class="tree-header">
        <span class="tree-title">-</span>
        <div class="tree-controls">
            <button class="btn-expand-all" title="Expand All">
                <img src="./assets/icon-chevron.svg" class="ctrl-icon expand-icon" alt="">
            </button>
            <button class="btn-collapse-all" title="Collapse All">
                <img src="./assets/icon-chevron.svg" class="ctrl-icon collapse-icon" alt="">
            </button>
        </div>
    </div>
    <div class="tree-search">
        <input type="text" class="search-input" placeholder="Search...">
    </div>
    <div class="tree-container">
        <ul class="tree-root"></ul>
    </div>
</div>
