/* Logo Component Styles */

#logo-container {
    width: 105px;
    height: 28px;
    overflow: auto;

    & .logo {
        display: flex;
        gap: 7px;
        height: 28px;
        align-items: center;
        width: 100%;
    }

    & .logo-symbol {
        width: 28px;
        height: 28px;
        border-radius: 8.75px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 13.125px 0px rgba(29, 78, 216, 0.5);
        background-image:
            linear-gradient(-23.6756deg, rgba(96, 235, 255, 0) 9.7594%, rgb(96, 255, 234) 93.845%),
            linear-gradient(-34.8245deg, rgba(112, 132, 245, 0) 15.237%, rgb(129, 225, 197) 112.01%),
            linear-gradient(90deg, rgb(175, 238, 247) 0%, rgb(175, 238, 247) 100%);
        flex-shrink: 0;
    }

    & .logo-symbol-text {
        font-family: 'Roboto Mono', monospace;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #f8fafc;
        line-height: normal;
    }

    & .logo-text {
        font-family: 'Roboto Mono', monospace;
        font-weight: 700;
        font-size: 22px;
        color: #f8fafc;
        line-height: normal;
        flex-shrink: 0;
    }
}
