<div class="section">
  <div class="block">

    <!-- Header -->
    <div class="group">
      <span class="group-label">실제 전력 평균</span>
      <div class="group-value">
        <span class="group-value-number">--</span>
        <span class="group-value-unit">KW</span>
      </div>
    </div>

    <!-- Chart Box -->
    <div class="box">

      <!-- Legend -->
      <div class="legend">
        <div class="legend-item">
          <div class="legend-dot legend-dot--blue"></div>
          <span class="legend-text">금일</span>
        </div>
        <div class="legend-item">
          <div class="legend-dot legend-dot--green"></div>
          <span class="legend-text">금주</span>
        </div>
      </div>

      <!-- Chart -->
      <div class="chart">

        <!-- Y Axis Labels -->
        <div class="y-axis">
          <span class="y-label" style="top: 100px;">0</span>
          <span class="y-label" style="top: 75px;">200</span>
          <span class="y-label" style="top: 50px;">400</span>
          <span class="y-label" style="top: 25px;">600</span>
          <span class="y-label" style="top: 0px;">800</span>
        </div>

        <!-- Grid Lines -->
        <div class="grid-lines">
          <div class="grid-line" style="top: 100px;">
            <svg class="line-svg" preserveAspectRatio="none" viewBox="0 0 344 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="344" y2="0.5" stroke="white" stroke-opacity="0.2"/>
              <line y1="0.5" x2="2" y2="0.5" stroke="white" stroke-opacity="0.4"/>
            </svg>
          </div>
          <div class="grid-line" style="top: 75px;">
            <svg class="line-svg" preserveAspectRatio="none" viewBox="0 0 344 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="344" y2="0.5" stroke="white" stroke-opacity="0.2" stroke-dasharray="4 4"/>
              <line y1="0.5" x2="2" y2="0.5" stroke="white" stroke-opacity="0.4"/>
            </svg>
          </div>
          <div class="grid-line" style="top: 50px;">
            <svg class="line-svg" preserveAspectRatio="none" viewBox="0 0 344 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="344" y2="0.5" stroke="white" stroke-opacity="0.2" stroke-dasharray="4 4"/>
              <line y1="0.5" x2="2" y2="0.5" stroke="white" stroke-opacity="0.4"/>
            </svg>
          </div>
          <div class="grid-line" style="top: 25px;">
            <svg class="line-svg" preserveAspectRatio="none" viewBox="0 0 344 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="344" y2="0.5" stroke="white" stroke-opacity="0.2" stroke-dasharray="4 4"/>
              <line y1="0.5" x2="2" y2="0.5" stroke="white" stroke-opacity="0.4"/>
            </svg>
          </div>
          <div class="grid-line" style="top: 0px;">
            <svg class="line-svg" preserveAspectRatio="none" viewBox="0 0 344 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="344" y2="0.5" stroke="white" stroke-opacity="0.2" stroke-dasharray="4 4"/>
              <line y1="0.5" x2="2" y2="0.5" stroke="white" stroke-opacity="0.4"/>
            </svg>
          </div>
        </div>

        <!-- X Axis Labels -->
        <div class="x-axis"></div>

        <!-- Graph Bars -->
        <div class="graph"></div>

      </div>
    </div>

  </div>
  <div class="section-inset-shadow"></div>
</div>
