<div class="event-browser">
  <!-- Header -->
  <div class="eb-header">
    <div class="eb-title-group">
      <span class="eb-title">이벤트 현황</span>
      <div class="eb-action">
        <div class="eb-arrows">
          <div class="eb-arrow-btn" data-action="arrow-up">
            <div class="eb-arrow-icon">
              <img src="./assets/c1c7d4516ac3295abe570952aabccf8b07949667.svg" alt="">
            </div>
          </div>
          <div class="eb-arrow-btn" data-action="arrow-down">
            <div class="eb-arrow-icon">
              <img src="./assets/8aabd7e9c4b94dd81395dcbfb6efbe696375d5d6.svg" alt="">
            </div>
          </div>
        </div>
        <div class="eb-event-btns">
          <div class="eb-btn eb-btn-reset" data-action="reset">
            <span>초기화</span>
          </div>
          <div class="eb-btn eb-btn-delete" data-action="delete">
            <span>삭제</span>
          </div>
        </div>
      </div>
    </div>
    <div class="eb-status-group"></div>
  </div>

  <!-- Table Header -->
  <div class="eb-table-header"></div>

  <!-- Table Body -->
  <div class="eb-table-body"></div>
</div>
