<div class="eq-search">
  <!-- Header -->
  <div class="eqs-header">
    <div class="eqs-title">
      <div class="eqs-title-bar"></div>
      <p class="eqs-title-text">설비 검색</p>
    </div>
    <div class="eqs-search-box">
      <div class="eqs-search-icon">
        <img src="./assets/icon-search.svg" alt="">
      </div>
      <input type="text" class="eqs-search-input" placeholder="설비 검색">
    </div>
  </div>
  <!-- Table Header -->
  <div class="eqs-table-header">
    <div class="eqs-th eqs-th--name">설비명</div>
    <div class="eqs-th eqs-th--zone">위치</div>
    <div class="eqs-th eqs-th--battery">배터리(%)</div>
    <div class="eqs-th eqs-th--status">상태</div>
  </div>
  <!-- Contents -->
  <div class="eqs-contents"></div>
</div>
