<div class="moving-eq">
  <!-- Title -->
  <div class="meq-title">
    <div class="meq-head">
      <div class="meq-head-icon">
        <img src="./assets/icon-title.svg" alt="">
      </div>
      <p class="meq-head-text">이동설비현황</p>
    </div>
    <div class="meq-legends">
      <div class="meq-legend-item"><div class="meq-legend-dot meq-legend-dot--green"></div><p class="meq-legend-text">운영</p></div>
      <div class="meq-legend-item"><div class="meq-legend-dot meq-legend-dot--yellow"></div><p class="meq-legend-text">대기</p></div>
      <div class="meq-legend-item"><div class="meq-legend-dot meq-legend-dot--red"></div><p class="meq-legend-text">고장</p></div>
    </div>
  </div>
  <!-- Chart (ECharts) -->
  <div class="meq-chart" id="meq-bar-chart"></div>
</div>
